<!-- invention_view.html -->
{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>{{ invention.name }}</h2>
  <p><strong>Inventor:</strong> {{ invention.inventor }}</p>
  <p><strong>Year:</strong> {{ invention.year }}</p>
  <p><strong>Description:</strong> {{ invention.description }}</p>
  <!-- Add more fields as needed -->
</div>
<div class="container">
  <button
    type="button"
    class="btn btn-outline-warning"
    onclick="window.location.href = '{% url 'update_invention' invention.id %}';"
  >
    Edit Invention
  </button>

  <!-- Delete Invention Form -->
  <form
    style="display: inline-block"
    id="deleteForm"
    onsubmit="return confirm('Are you sure you want to delete this Invention?')"
    action="{% url 'delete_invention' invention.id %}"
    method="post"
  >
    {% csrf_token %}
    <input
      type="submit"
      class="btn btn-outline-danger"
      value="Delete Invention"
    />
  </form>
</div>
{% endblock %}
